body{
	background: #fff;
	font-family: 'Segoe UI Light', 'OpenSansLight', Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}
#container{
	width: 600px;
	margin: auto auto;
	background: #eee;
	padding: 10px;
	margin-top: -10px;
}